@import "../../index.scss";
.MobileNav {
    .fixedDown {
        width: 450px;
        padding: 20px 0;
        background-color: var(--white);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        @include flex_around;
        div {
            position: relative;
            transition: 0.3s;
            &:hover {
                color: var(--pink);
            }
            svg {
                font-size: 27px;
                cursor: pointer;
            }
            span {
                @include flex_center;
                position: absolute;
                top: -10px;
                right: -10px;
                background-color: var(--bittersweet);
                width: 17px;
                height: 17px;
                border-radius: 50%;
                color: #fff;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
    .fixedSide {
        position: absolute;
        width: 300px;
        padding: 20px 20px;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: var(--white);
        z-index: 3;
        box-shadow: 0px 5px 15px 1200px rgba(0, 0, 0, 0.35);
        .fixedSideContent {
            .mainHeading {
                @include flex_between;
                border-bottom: 2px solid var(--light_gray);
                padding-bottom: 10px;
                svg {
                    font-size: 22px;
                    cursor: pointer;
                    transition: 0.2s;
                    &:hover {
                        color: var(--pink);
                    }
                }
                h3 {
                    font-size: 22px;
                    font-weight: bold;
                    color: var(--pink);
                }
            }
            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                li {
                    border-bottom: 2px solid var(--light_gray);
                    padding: 15px 0;
                    color: var(--light_black);
                    font-size: 17px;
                    font-weight: 500;
                    .accordion {
                        --bs-accordion-btn-padding-y: 0 !important;
                        --bs-accordion-btn-padding-x: 0 !important;
                        --bs-accordion-color: var(--light_black) !important;
                        --bs-accordion-active-color: var(--light_black) !important;
                        --bs-accordion-btn-icon: url(https://www.svgrepo.com/show/491467/plus.svg) !important;
                        --bs-accordion-btn-icon-transform: rotate(180deg) !important;
                        --bs-accordion-btn-icon-transition: transform 0.4s ease-in-out !important;
                        --bs-accordion-btn-active-icon: url(https://www.svgrepo.com/show/500931/minus.svg) !important;
                        --bs-accordion-btn-icon-width: 1rem !important;
                        .accordion_item {
                            border: none;
                            .accordion_header {
                                button {
                                    font-weight: 500 !important ;
                                    &:focus {
                                        border: none !important;
                                        box-shadow: none !important;
                                        background-color: transparent;
                                    }
                                }
                            }
                            div {
                                div {
                                    padding-bottom: 0;

                                    ul {
                                        li {
                                            transition: 0.3s;
                                            cursor: pointer;
                                            font-weight: normal;
                                            &:last-child {
                                                border: none;
                                                padding-bottom: 0;
                                            }
                                            &:first-child {
                                                padding-top: 0;
                                            }
                                            &:hover {
                                                color: var(--pink);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ***************************************************************************************************
// *******************************************media queries*******************************************
// ***************************************************************************************************
@media (max-width: 450px) {
    .MobileNav {
        .fixedDown {
            width: 100%;
        }
    }
}
